:root{
    --primary-color:#7BD3EA;
    --secondary-color:#fff;
    --accent-color:#0051ff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:var(--accent-color) ;
}

.content{
    background-color: var(--secondary-color);
    width: 35rem;
    border-radius: 1.2rem ;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    padding: 30px 40px;
}

.content h1{
    margin-bottom: 20px;
    text-align: center;
}


.quote-container i{
    font-size: 1.25rem;
    text-align: center;
}

.quote{
    font-size: 1.18rem;
    font-weight: 300;
    margin-bottom:20px ;
    
}

.author-name{
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    font-style:italic; 
    font-weight: 100;
    font-size: 1rem;
}

.button-container{
    background-color: var(--secondary-color);
    width: 100%;
    height: 5rem;
    /* padding: 0 35px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.util-btn{
    display: flex;
}

.btn{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 2px solid var(--accent-color);
    background-color: var(--secondary-color);
    margin-right: 0.5rem ;
    color: var(--accent-color);
    cursor: pointer;
}

.btn button:hover{
    color: var(--secondary-color);
    background-color: #0051ff;
    transition: 0.1s ease;
}

.copyBtn{
    background-color: var(--accent-color);
    color: var(--secondary-color);
}

.generate{
    padding: 10px;
    border-radius: 1.5rem;
    border: 3px solid var(--accent-color);   
    background-color: var(--accent-color);
    color: var(--secondary-color);
    font-weight: 700;
    cursor: pointer;
}

.generate:hover{
    transition: 0.1s;
    transform: scale(1.03);
}

.loading{
    opacity: 0.7;
    cursor: none;
}

@media(max-width:580px) {
    .content{
        width: 30rem;
    }
    .content h1{
        font-size: 2rem;
    }
    .quote{
        font-size: 1rem;
    }
    .author-name{
        font-size: 0.9rem;
    }
    .btn{
        width: 2.8rem;
    height: 2.8rem;
    }
} 

@media(max-width:480px) {
    .content{
        width: 27rem;
    }
    .content h1{
        font-size: 2rem;
    }
    .quote{
        font-size: 0.95rem;
    }
    .author-name{
        font-size: 0.8rem;
    }
    .btn{
        width: 2.8rem;
    height: 2.8rem;
    }
} 

@media (max-width:430px) {
    .content{
        width: 23rem;
        padding: 20px 30px;
    }
    .content h1{
        font-size: 1.8rem;
    }
    .quote{
        font-size: 0.95rem;
    }
    .quote-container i{
        font-size: 1rem;
    }
    .quote{
        font-size: 0.95rem;
    }

    .author-name{
        font-size: 0.8rem;
    }
    .btn{
        width: 2.2rem;
    height: 2.2rem;
    }
} 

@media screen and (max-width:380px) {
    .content{
        width: 21rem;
    }
    .content h1{
        font-size: 1.7rem;
    }
    .quote{
        font-size: 0.79rem;
    }
    .quote-container i{
        font-size: 0.9rem;
    }
    .author-name{
        font-size: 0.7rem;
    }
    .btn{
        width: 2rem;
    height: 2rem;
    }
    .generate{
        font-size: 12px;
    }
} 

@media screen and (max-width:280px) {
    .content{
        width: 16rem;
    }
    .content h1{
        font-size: 1.3rem;
    }
    .quote{
        font-size: 0.7rem;
    }
    .quote-container i{
        font-size: 0.9rem;
    }
    .author-name{
        font-size: 0.68rem;
    }
    .btn{
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0;
    }
    .btn i{
        font-size: 0.8rem;
    }
    
    .generate{
        font-size: 10px;
    }
} 